@media (max-width: 1080px) {
    .content {
        display: block;
    }
    .sidebar{
        flex-direction: row;
        width: 100%;
        height: 110px;
        overflow-y: auto;

        
    }
    .sidebar img{
        width: 30px;
        height: 30px;
        padding: 0vh 0vh 0vh 0vh;
        
    }
    .menu-items {
        padding: 0vh 1vh 0vh 1vh;
    }
    .canva img{ 
        width: 80%;
        height: 50%;
    }
    .repo-link {
        width: 80%;
    }
    .repo-link img {
        width: 10%;
        height: 10%;
    }
}

