body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*ackground-color: #214541;*/
    background-color: #2d5d58;
    color: white;
    
    
}

header {
    display: flex;
    justify-content: center;
    border-bottom: 4px solid black;
    background-color: #31506a;
    width: 100%;
    
}

h1 {
    font-size: 25px;
}
img {
    border-radius: 10px;
}