body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #214541;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    border-bottom: 4px solid black;
    background-color: #31506a;
    width: 100%;
}

h1 {
    font-size: 25px;
}